*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 10vh;
    width: 100vw;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    /* justify-content: space-between; */
    border: 1px solid #918d8d;
    color: #464444;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-top: 10px;
    margin-left: 30px;
}
.input{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 80px;
    padding-top: 5px;
}
.input li input{
    height: 40px;
    width: 300px;
}
.icon{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.container{
    height: 50vh;
    border: 1px solid rgb(78, 77, 77);
}
.box1{
    padding-top: 50px;
    padding-left: 80px;
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    font-size: 30px;
    font-weight: 200;
}
.look{
    height: 70vh;
    width: 500px;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 10px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
  
}
.look h2{
   width: 100%;
   color: #464444;
}
.b{
    height: 100px;
    width: 150px;
    background-color:rgba(245, 245, 245, 1.00);
    border-radius: 12px;
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 20px;
  
}

#b7{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#b8{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#b4 img{
    height: 70px;
}
#b5 img{
    height: 70px;
}
#b6 img{
    height: 70px;
}
.icon{
    padding-top: 10px;
    margin-left: 100px;
    width: 3%;
}
section{
    display: flex;
}
.box2 img{
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    height: 600px;
}
.Newandnoteworthy{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: space-evenly;
}
.Newandnoteworthy h1{
    width: 100%;
    margin-bottom: 50px;
    padding-left: 40px;
    font-size: 40px;
}
.add1{
    margin : 45px 35px;
    
}
#para{
    width: 100%;
    margin-bottom: 50px;
    padding-left: 40px; 
}
.Footer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 30px 30px;
    justify-content: space-evenly;
    background-color: #F5F5F5;
}
.Footer ul {
    list-style-type: none;
    margin-left: 20px;

}
.Footer div{
    height: 30px;
    width: 100%;
}
.Footer .mainimg{
    height: 50px;
    width: 150px;
}
.Footer ul li {
    padding-top: 10px;
}